<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.PacienteMapper">

    <resultMap type='Paciente' id='PacienteResult'>
        <id property='id' column='id'/>        
        <id property='tipo_id' column='tipo_id'/>
        <result property='fechaNacimiento' column='fecha_nacimiento'/>
        <result property='nombre' column='nombre'/>
        
    </resultMap>
    
    <resultMap type='Consulta' id='ConsultaResult'>
        <id property='id' column='idCONSULTAS'/>
        <result property='fechayHora' column='fecha_y_hora'/>
        <result property='resumen' column='resumen'/>
        <association property="autor" javaType="Paciente" resultMap='PacienteResult' columnPrefix='pc_'></association>
    </resultMap>
    

    <select id = "consultaDelRanking" resultMap="PacienteResult">
        select  pc.id, pc.tipo_id, pc.nombre, pc.fecha_nacimiento, cn.fecha_y_hora, cn.resumen, (select count(*) from CONSULTAS where PACIENTES_id=pc.id) 
        from PACIENTES as pc
        left join CONSULTAS as cn on PACIENTES_id=id and PACIENTES_tipo_id = tipo_id 
        where YEAR(cn.fecha_y_hora)=#{year}
        order by 7 desc 
    </select>    
</mapper>